#content h1 {
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    font-family: "Roboto";
}
#content p {
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
    font-family: "Roboto";
}
ol {
    font-family: "Roboto";
    text-align: center;
    list-style-position: inside;
}
#content a {
    color: var(--primary);
}